<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ionic_Orb_C_84x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ionic_Orb_D_84x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{84,0},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ionic_Orb_E_84x84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{168,0},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zidan.png</string>
            <key>size</key>
            <string>{252,84}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afc0470a6c8f0ee81ca7b08fe2958261:a5b5c7938e6c2b40c36f1fc405417e35:281d4cb5f919172d164eb686824dcaff$</string>
            <key>textureFileName</key>
            <string>zidan.png</string>
        </dict>
    </dict>
</plist>
